td {
  border: 1.5px red solid;
  font-size: 38px;
  text-align: center;
}

table {
  width: 400px;
  border-collapse: collapse;
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
  left: -200px;
}
