td{
  border-style: solid;
  border-width: 1px;
  border-color: red;
  text-align: center;
}

table{
  position: relative;
  left: 25%;
  margin-top: 15%;
  width: 50%;
  height: auto;
  border-collapse: collapse;
}
