table {
  margin: auto;
  font-size: 30px;
}

td {
  font-family: sans-serif;
  border: 2px solid red;
  width: 40px;
  padding: 40px;
  transition: .5s;
  text-align: center;
}

.rotate {
  transform: rotate(180deg);
}
